<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sokoban">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SokoAxel">
        <activity
            android:name=".Unit_Lvl_06"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_10"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_09"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_08"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_07"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_05"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_04"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_03"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Menu_Select_Level"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_02"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Unit_Lvl_01"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Menu_Info"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>